<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.Reporting"></listener>
	</listeners>
	<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="TestCases.LoginTest_001"/>-->
      <!-- <class name="TestCases.TC_Register_002"/>-->
       <!--  <class name="TestCases.TC_Register_002"/>-->
       <class name="TestCases.TC_DatadrivenTest_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
